<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="senati.senatipeamobile" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".actLogin"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".actAspectosApr"
            android:label="@string/title_activity_act_aspectos_apr" >
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="MainActivity" >
        </activity>
        <activity
            android:name=".actRegistroPea"
            android:label="@string/title_activity_act_registro_pea" >
        </activity>
        <activity
            android:name=".actListaEmpresas"
            android:label="@string/title_activity_act_lista_empresas" >
        </activity>
        <activity
            android:name=".actItemEmpresa"
            android:label="@string/title_activity_act_item_empresa" >
        </activity>
        <activity
            android:name=".actCalendario"
            android:label="@string/title_activity_act_calendario" >
        </activity>
        <activity
            android:name=".sctGestionPea"
            android:label="@string/title_activity_sct_gestion_pea" >
        </activity>
    </application>

</manifest>
